---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/">
        <div class="font-semibold text-3xl">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-7">
        <Link href="/blog" class="text-lg" underline={true}>
          Blogs
        </Link>
        <Link href="/work" class="text-lg" underline={true}>
          Work
        </Link>
        <Link href="/projects" class="text-lg" underline={true}>
          Projects
        </Link>        
      </nav>
    </div>
  </Container>
</header>
